body {
    margin: 0;
}

.header-image {
    width: 100%;
}

.header-image-mobile {
    display: none;
}

.header-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

.first-page {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -6px 6px #00000029;
}

.header-flag {
    background-image: url('../assets/header-flag.svg');
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-position-y: center;
}

.header-flag-mobile {
    display: none;
}

.header-flag a {
    display: block;
    padding: 7px;
    margin-left: 10px;
}

.header-flag img {
    max-height: 150px;
    height: 100%;
}

.header-pages {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px;
}

.header-pages a {
    text-align: left;
    font-family: 'Roboto';
    letter-spacing: 0;
    color: #707070;
    margin-left: 40px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    height: 35px;
}

.header-pages .selected {
    color: #248451;
    font-family: 'Roboto';
    font-weight: bold;
    position: relative;
}

.header-pages .selected::after {
    background-image: url('../assets/current-page.svg');
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    content: "";
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.header-pages a:hover {
    color: #248451;
    font-weight: 500;
}

.first-page--content {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-top: 5%; */
    max-height: 1000px;
    height: 100%;
}

.first-page--content-left {
    width: 50%;
    margin-left: 62px;
    /* display:flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
}

.first-page-title {
    color: #248451;
    font-family: 'Abril Fatface';
    font-size: 90px;
    margin-bottom: 0;
}

.first-page-subtitle {
    color: #248451;
    font-family: 'Abril Fatface';
    font-size: 70px;
    opacity: 73%;
    margin: 0;
}

.first-page-description {
    font-family: 'Roboto';
    letter-spacing: 0;
    color: #707070;
}

.header-asii-mobile {
    display: none;
}

.first-page--content-right {
    width: 50%;
    position: relative;
    /* background-image:url('./assets/Ilsutratie.svg'); */
    /* background-repeat: no-repeat; */
    /* height:100%; */
}

.first-page-image {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    max-height: 1800px;
}

.first-page-counter {
    position: absolute;
    width: 62%;
    height: 40%;
    background-color: rgba(255, 199, 199, 0.3);
    top: 70%;
    left: 35%;
    /* bottom:0; */
    padding: 8px;
}

.first-page-counter-top {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bold;
}

.first-page-counter-line {
    width: 30%;
    height: 3px;
    background-color: #DA3636;
}

.first-page-counter-text {
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    width: 45%;
    color: #DA3636;
    text-transform: uppercase;
    align-items: center;
    font-size: 16px;
}

.first-page-counter-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.first-page-counter-group {
    width: 30%;
    display: flex;
}

.first-page-counter-group-box {
    margin-left: 5px;
    border-radius: 5px;
    height: 100%;
    background-color: #FF000038;
    color: #CB0000B5;
    font-size: 70px;
    text-align: center;
    font-family: 'Roboto';
}

.first-page-counter-bottom {
    text-align: center;
    display: flex;
}

.counter-days {
    width: 23%;
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 20px;
    font-family: 'Roboto';
    color: #DA3636;
    font-weight: bold;
}

.counter-hours {
    width: 46%;
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 20px;
    font-family: 'Roboto';
    color: #DA3636;
    font-weight: bold;
}

.counter-minutes {
    width: 23%;
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 20px;
    font-family: 'Roboto';
    color: #DA3636;
    font-weight: bold;
}

.about-event {
    width: 100%;
    height: 100vh;
}

.about-top {
    background-color: #2F8D5B;
    height: 60px;
    display: flex;
    justify-content: center;
}

.about-top-title {
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
}

.about-content {
    margin-top: 70px;
    display: flex;
}

.about-description {
    width: 70%;
    max-height: 700px;
    height: 100%;
    background-color: #E7F1E6;
    display: flex;
    padding: 0 64px;
}

.about-description-left {
    width: 60%;
    padding-top: 4%;
}

.about-description-title {
    font-family: 'Roboto';
    font-size: 24px;
    color: #498465;
    font-weight: bold;
    margin-bottom: 5%;
}

.about-description-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: #707070;
}

.about-description-right {
    width: 40%;
}

.about-description-img {
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}

.about-details {
    background-color: #2F8D5B;
    padding: 0 64px;
    width: 30%;
    margin-top: 11%;
    height: 280px;
    margin-left: -5%;
    display: flex;
    position: relative;
}

.about-details-left {
    margin-top: 11%;
    width: 70%;
}

.about-details-text {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    font-family: "Roboto";
}

.about-details-right {
    position: absolute;
    margin-top: -25%;
    top: 15%;
    right: 0;
}

.about-details-right img {
    max-width: 400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.beneficiaries-page {
    width: 100%;
    height: fit-content;
}

.beneficiaries-top {
    background: url('../assets/beneficiaries-header.svg');
    width: 100%;
    background-repeat: no-repeat;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficiaries-top-title {
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.beneficiaries-content {
    width: 100%;
    display: flex;
}

.beneficiaries-content-left {
    width: 50%;
    margin-top: 20px;
}

.beneficiaries-content-paragraph {
    margin-bottom: 32px;
    margin-left: 62px;
}

.beneficiaries-content-paragraph-title {
    color: #DA3636;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    z-index: 100;
}

.beneficiaries-content-paragraph-content {
    font-size: 14px;
    font-family: 'Roboto';
    color: #707070;
    z-index: 100;
}

.beneficiaries-content-right {
    width: 50%;
    margin-left: -5%;
}

.half {
    width: 90%;
}

.ibanZone {
    margin-top: 4%;
    width: 100%;
    background: url('../assets/iban-zone.svg');
    background-repeat: no-repeat;
    height: fit-content;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-size: contain;
    background-position: left;
    margin-bottom: 5%;
}

.ibanZone-title {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
}

.ibanZone-iban {
    font-size: 14px;
    font-family: "Roboto";
    color: white;
}

.ibanZone-name {
    font-size: 14px;
    font-family: "Roboto";
    color: white;
}

.beneficiaries-bottom {
    width: 100%;
}

.last-page {
    width: 100%;
    height: fit-content;
}

.coordinator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.coordinator-top {
    background: url('../assets/coordinator-header.svg');
    background-repeat: no-repeat;
    height: fit-content;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 100px;
    background-position: center;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coordinator-title {
    font-family: "Roboto";
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.coordinator-details {
    background: url('../assets/coordinator-details.svg');
    background-repeat: no-repeat;
    height: 150px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-position: center;
}

.coordinator-name {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.coordinator-infos {
    font-size: 14px;
    font-family: "Roboto";
    color: white;
}

.partners {
    margin-top: 15px;
}

.partners-top {
    width: 100%;
    height: 60px;
    background-color: #DA3636;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.partners-listing {
    margin-left: 62px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 5%;
    height: fit-content;
}

.partner {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: flex-end;
}

.partner-img {
    max-width: 150px;
    width: 100%;
}

.partner a {
    text-decoration: none;
}

.partner-name {
    font-size: 14px;
    font-family: 'Roboto';
    color: #707070;
}

.footer {
    width: 100%;
    height: 200px;
}

.footer-trees {
    width: 100%;
}

.footer-content {
    margin-top: -4%;
    background-color: #248451;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    padding: 62px;
}

.footer-content {
    display: flex;
}

.footer-infos {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.footer-infos-title {
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-asii {
    margin-bottom: 10px;
}

.footer-infos-text {
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

.facebook {
    align-self: flex-start;
    cursor: pointer;
}

.footer-infos a {
    text-decoration: none;
}

@media(min-width:1500px) {
    .header-flag {
        background-size: contain;
        justify-content: flex-start;
    }
    .header-flag img {
        width: 100%;
        max-width: 55px;
    }
    .header-asii {
        padding-right: 100%;
    }
    .first-page-title {
        font-size: 90px;
    }
    .first-page-subtitle {
        font-size: 100px;
    }
    .first-page-description {
        font-size: 17px;
    }
    .first-page-counter-text {
        font-size: 24px;
    }
    .first-page-counter-days {
        font-size: 27px;
        margin-top: 4%;
    }
    .first-page-counter-hours {
        font-size: 27px;
        margin-top: 4%;
    }
    .first-page-counter-minutes {
        font-size: 27px;
        margin-top: 4%;
    }
    .about-top {
        height: 100%;
        max-height: 100px;
    }
    .about-top-title {
        font-size: 27px;
    }
    /* .about-details {
        height:700px;
    } */
    .about-description {
        height: 525px;
    }
    .about-description-title {
        font-size: 30px;
    }
    .about-description-text {
        font-size: 17px;
    }
    .about-details {
        height: 310px;
        margin-top: 11%;
    }
    .about-details-text {
        font-size: 18px;
    }
    .beneficiaries-top {
        background-size: cover;
        height: 100px;
    }
    .beneficiaries-top-title {
        font-size: 27px;
    }
    .beneficiaries-content-paragraph-title {
        font-size: 30px;
    }
    .beneficiaries-content-paragraph-content {
        font-size: 18px;
    }
    .ibanZone-title {
        font-size: 30px;
    }
    .ibanZone-iban {
        font-size: 27px;
    }
    .ibanZone-name {
        font-size: 27px;
    }
    .beneficiaries-content-right {
        margin-left: 0%;
    }
    .coordinator-details {
        height: 219px;
    }
    .coordinator-name {
        font-size: 30px;
    }
    .coordinator-infos {
        font-size: 27px;
    }
    .parteners-top {
        height: 100px;
        font-size: 27px;
    }
}

@media(max-width:1060px) {
    .header-pages a {
        font-size: 12px;
    }
    .first-page-title {
        font-size: 50px;
    }
    .first-page-subtitle {
        font-size: 50px;
    }
    .first-page-description {
        font-size: 12px;
    }
    .first-page-counter-text {
        font-size: 12px;
    }
    .first-page-counter-days {
        font-size: 12px;
    }
    .first-page-counter-minutes {
        font-size: 12px;
    }
    .first-page-counter-hours {
        font-size: 12px;
    }
    .first-page-counter-group-box {
        font-size: 50px;
    }
    .first-page-counter {
        height: 37%;
    }
    .about-description-title {
        font-size: 20px;
    }
    .about-description-text {
        font-size: 12px;
    }
    .about-details {
        height: 185px;
    }
    .about-details-text {
        font-size: 12px;
    }
    .about-details-right img {
        width: 73%;
        height: 37%;
        margin-left: 15%;
    }
    .beneficiaries-content-right img {
        width: 90%;
        height: 90%;
        margin-left: 13%;
    }
    .beneficiaries-content-paragraph-title {
        font-size: 20px;
    }
    .beneficiaries-content-paragraph-content {
        font-size: 12px;
    }
    .ibanZone-title {
        font-size: 20px;
    }
    .ibanZone-iban {
        font-size: 12px;
    }
    .ibanZone-name {
        font-size: 12px;
    }
    .coordinator-name {
        font-size: 20px;
    }
    .coordinator-infos {
        font-size: 12px;
    }
    .coordinator-details {
        width: 58%;
    }
    .footer-infos-text {
        font-size: 12px;
    }
    .footer-infos-title {
        font-size: 16px;
    }
}

@media(max-width:900px) {
    .header-pages a {
        font-size: 10px;
    }
    .header-flag {
        width: 45%;
    }
    .first-page-title {
        font-size: 40px;
    }
    .first-page-subtitle {
        font-size: 40px;
    }
    .first-page-description {
        font-size: 10px;
    }
    .first-page-counter-text {
        font-size: 10px;
    }
    .first-page-counter-days {
        font-size: 10px;
    }
    .first-page-counter-minutes {
        font-size: 10px;
    }
    .first-page-counter-hours {
        font-size: 10px;
    }
    .first-page-counter-group-box {
        font-size: 27px;
    }
    .first-page-counter {
        height: 37%;
    }
    .about-description-title {
        font-size: 18px;
    }
    .about-description-text {
        font-size: 10px;
    }
    .about-details {
        height: 155px;
    }
    .about-details-text {
        font-size: 10px;
    }
    .about-details-right img {
        width: 64%;
        height: 37%;
        margin-left: 27%;
    }
    .beneficiaries-content-right img {
        width: 90%;
        height: 90%;
        margin-left: 13%;
    }
    .beneficiaries-content-paragraph-title {
        font-size: 18px;
    }
    .beneficiaries-content-paragraph-content {
        font-size: 10px;
    }
    .ibanZone-title {
        font-size: 18px;
    }
    .ibanZone-iban {
        font-size: 10px;
    }
    .ibanZone-name {
        font-size: 10px;
    }
    .coordinator-name {
        font-size: 18px;
    }
    .coordinator-infos {
        font-size: 10px;
    }
    .coordinator-details {
        width: 63%;
    }
    .footer-infos-text {
        font-size: 10px;
    }
    .footer-infos-title {
        font-size: 14px;
    }
}

@media(max-width:600px) {
    .header-image {
        display: none;
    }
    .header-image-mobile {
        background-image: url('../assets/header.svg');
        width: 100%;
        background-size: cover;
        height: 30px;
        display: inherit;
    }
    .header {
        display: none;
    }
    #open-menu {
        background-image: url("../assets/menu-burger.svg");
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
    }
    .header-mobile {
        display: flex;
        height: 50px;
        margin-bottom: 2px;
    }
    .header-flag-mobile {
        background-image: url('../assets/header-flag.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        height: 50px;
        width: 50%;
        align-items: center;
        justify-content: flex-start;
    }
    .header-asii-mobile {
        display: inherit;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 15%;
    }
    .header-pages {
        display: none;
    }
    .menu-mobile {
        display: block;
        align-self: center;
        margin-left: auto;
        margin-right: 5%;
    }
    .menu-mobile input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 5%;
        right: 3%;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 11;
        /* and place it over the hamburger */
    }
    .header-pages-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        -webkit-font-smoothing: antialiased;
        transform: translateX(100%);
        z-index: 10;
        transition: all 0.2s ease-in-out
    }
    .opened .header-pages-mobile {
        transform: translateX(0px);
    }
    .header-pages-mobile a {
        padding: 10px 0;
        font-family: 'Roboto';
        letter-spacing: 0;
        color: #707070;
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }
    #mobile-nav-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 40px;
        padding-left: 50px;
    }
    #close-menu {
        width: 100%;
        height: 40px;
        display: block;
        text-align: right;
    }
    #close-menu img {
        height: 100%;
        margin-right: 20px;
        margin-top: 20px;
    }
    .header-pages-mobile .selected {
        color: #248451;
        font-family: 'Roboto';
        font-weight: bold;
    }
    .first-page {
        height: auto;
    }
    .partner {
        margin: 0;
        padding: 15px;
        width: 50%;
        box-sizing: border-box;
    }
    .first-page--content {
        height: fit-content;
        width: 90%;
        flex-direction: column;
        margin-left: 0;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: unset;
        z-index: 0;
        padding: 0 16px;
    }
    .first-page--content-left {
        width: 100%;
        margin-left: 0;
    }
    .first-page--content-right {
        width: 100%;
    }
    .first-page-description {
        width: 100%;
        font-size: 16px;
        margin-top: 5px;
    }
    .first-page--content-right {
        display: flex;
        flex-direction: column;
    }
    .first-page-counter {
        position: initial;
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .first-page-counter-group-box {
        font-size: 50px;
    }
    .about-event {
        /* display:none; */
        width: fit-content;
        height: fit-content;
        height: auto;
    }
    .about-content {
        flex-direction: column;
        width: 90%;
        margin: 0;
        padding: 0 16px;
    }
    .about-description {
        width: 100%;
        margin-top: 5%;
        padding: 0;
        flex-direction: column;
        height: 50%;
    }
    .about-description-left {
        width: 100%;
    }
    .about-description-title {
        margin-left: 15px;
    }
    .about-description-text {
        margin-left: 10px;
        margin-right: 13px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .about-description-right {
        width: 100%;
    }
    .about-description-img {
        width: 100%;
        max-height: 200px;
    }
    .about-details {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .about-details-text {
        font-size: 16px;
    }
    .about-details-right {
        position: initial;
        margin-top: 0;
    }
    .about-details-right img {
        margin-top: -75px;
        width: 67%;
        height: 180px;
    }
    .about-details-left {
        width: 90%;
        padding: 20px;
        margin: 0;
    }
    .beneficiaries-page {
        height: fit-content;
    }
    .beneficiaries-content {
        flex-direction: column;
        width: 90%;
    }
    .beneficiaries-content-left {
        width: 100%;
    }
    .beneficiaries-content-paragraph {
        margin-left: 0;
        padding: 0 16px;
    }
    .beneficiaries-content-paragraph-title {
        font-size: 20px;
    }
    .beneficiaries-content-paragraph-content {
        font-size: 16px;
    }
    .half {
        width: 100%;
    }
    .ibanZone-title {
        font-size: 20px;
    }
    .ibanZone-iban {
        font-size: 16px;
    }
    .ibanZone-name {
        font-size: 16px;
    }
    .beneficiaries-content-right {
        width: 100%;
    }
    .last-page {
        /* display:none; */
    }
    .coordinator-title {
        font-size: 14px;
    }
    .coordinator-details {
        width: 100%;
    }
    .coordinator-name {
        font-size: 20px;
    }
    .coordinator-infos {
        font-size: 16px;
    }
    .partners {
        width: 100%;
    }
    .partners-listing {
        margin-left: 0;
        padding: 0 16px;
        width: 90%;
    }
    .partner-name {
        font-size: 16px;
    }
    .footer {
        height: auto;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .footer-infos {
        margin-top: 3%;
        margin-right: 0;
        width: 80%;
        margin-bottom: 5%;
    }
    .footer-asii {
        margin: 25px auto 25px auto;
    }
    .footer-infos-title {
        font-size: 20px;
    }
    .footer-infos-text {
        font-size: 16px;
    }
    .facebook {
        margin-bottom: 5%;
        align-self: center;
    }
}

.program-page {
    background-color: #1A7539;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.program-content {
    position: relative;
    text-align: center;
    background: url("../assets/program.svg");
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    background-position-x: center;
}

.program-inner {
    margin: 80px auto auto auto;
}

.program-inner p {
    color: white;
    max-width: 400px;
    width: auto;
    font-family: 'Roboto', sans-serif;
}

.program-content img {
    width: 1550px;
    height: 500px;
    height: 200%;
    margin-left: -70px;
    margin-top: -16px;
    max-width: 100%;
}

.program-title {
    font-size: 3em;
    font-family: Abril Fatface;
    color: white;
}

.program-description {
    position: absolute;
    top: 38%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Roboto;
    color: white;
}

.event-location {
    position: absolute;
    top: 44%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Roboto;
    color: white;
}

.ticket-info {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Roboto;
    color: white;
}

.ticket-info-continue {
    position: absolute;
    top: 56%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Roboto;
    color: white;
}

.border {
    background-image: url("../assets/program-border.png");
    margin-top: -10px;
    height: 20px;
    margin-left: -20px;
}

@media screen and (max-width:1500px) {
    .program-page {
        width: 100%;
        height: 50%
    }
}

@media screen and (max-width:950px) {
    .program-page {
        width: 100%;
        height: 50%
    }
    .program-title {
        font-size: 3em;
    }
    .event-location,
    .program-description,
    .ticket-info,
    .ticket-info-continue {
        font-size: 8px;
    }
    .program-content img {
        margin-left: -35%;
        width: 160%;
        max-width: 160%;
    }
    .program-inner {
        padding: 10px;
        margin: auto;
    }
    .program-content {
        height: 350px;
    }
}

@media screen and (max-width:460px) {
    .program-title {
        font-size: 2.1em;
    }
    .event-location,
    .program-description,
    .ticket-info,
    .ticket-info-continue {
        font-size: 1em;
    }
}