

body {
    margin: 0
  }
  
  .header-image {
    width: 100%
  }
  
  .header-image-mobile {
    display: none
  }
  
  .header-mobile {
    display: none
  }
  
  .menu-mobile {
    display: none
  }
  
  .first-page {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column
  }
  
  .header {
    width: 100%;
    height: 70px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -6px 6px #00000029
  }
  
  .header-flag {
    background-image: url(../assets/header-flag.svg);
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    background-position-y: center
  }
  
  .header-flag-mobile {
    display: none
  }
  
  .header-flag a {
    display: block;
    padding: 7px;
    margin-left: 10px
  }
  
  .header-flag img {
    max-height: 150px;
    height: 100%
  }
  
  .header-pages {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px
  }
  
  .header-pages a {
    text-align: left;
    font-family: Roboto;
    letter-spacing: 0;
    color: #707070;
    margin-left: 40px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    height: 35px
  }
  
  .header-pages .selected {
    color: #248451;
    font-family: Roboto;
    font-weight: 700;
    position: relative
  }
  
  .header-pages .selected::after {
    background-image: url(../assets/current-page.svg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    content: "";
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center
  }
  
  .header-pages a:hover {
    color: #248451;
    font-weight: 500
  }
  
  .first-page--content {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 1000px;
    height: 100%
  }
  
  .first-page-title {
    color: #248451;
    font-family: 'Abril Fatface';
    font-size: 90px;
    margin-bottom: 0
  }
  
  .first-page-description {
    font-family: Roboto;
    letter-spacing: 0;
    color: #707070
  }
  
  .header-asii-mobile {
    display: none
  }
  
  .first-page-image {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    max-height: 1800px
  }
  
  .about-content {
    margin-top: 70px;
    display: flex
  }
  
  .about-description {
    width: 70%;
    max-height: 700px;
    height: 100%;
    background-color: #e7f1e6;
    display: flex;
    padding: 0 64px
  }
  
  .about-description-title {
    font-family: Roboto;
    font-size: 24px;
    color: #498465;
    font-weight: 700;
    margin-bottom: 5%
  }
  
  .about-description-text {
    font-family: Roboto;
    font-size: 16px;
    color: #707070
  }
  
  .about-description-img {
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%
  }
  
  .beneficiaries-page {
    width: 100%;
    height: fit-content
  }
  
  .beneficiaries-content {
    width: 100%;
    display: flex
  }
  
  .last-page {
    width: 100%;
    height: fit-content
  }
  
  .footer {
    width: 100%;
    height: 200px
  }
  
  .footer-trees {
    width: 100%
  }
  
  .footer-content {
    margin-top: -4%;
    background-color: #248451;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    padding: 62px
  }
  
  .footer-content {
    display: flex
  }
  
  .footer-infos {
    display: flex;
    flex-direction: column;
    margin-right: 80px
  }
  
  .footer-infos-title {
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px
  }
  
  .footer-asii {
    margin-bottom: 10px
  }
  
  .footer-infos-text {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer
  }
  
  .facebook {
    align-self: flex-start;
    cursor: pointer
  }
  
  .footer-infos a {
    text-decoration: none
  }
  
  @media (min-width:1500px) {
    .header-flag {
      background-size: contain;
      justify-content: flex-start
    }
    .header-flag img {
      width: 100%;
      max-width: 55px
    }
    .header-asii {
      padding-right: 100%
    }
    .first-page-title {
      font-size: 90px
    }
    .first-page-description {
      font-size: 17px
    }
    .about-description {
      height: 525px
    }
    .about-description-title {
      font-size: 30px
    }
    .about-description-text {
      font-size: 17px
    }
  }
  
  @media (max-width:1060px) {
    .header-pages a {
      font-size: 12px
    }
    .first-page-title {
      font-size: 50px
    }
    .first-page-description {
      font-size: 12px
    }
    .about-description-title {
      font-size: 20px
    }
    .about-description-text {
      font-size: 12px
    }
    .footer-infos-text {
      font-size: 12px
    }
    .footer-infos-title {
      font-size: 16px
    }
  }
  
  @media (max-width:900px) {
    .header-pages a {
      font-size: 10px
    }
    .header-flag {
      width: 45%
    }
    .first-page-title {
      font-size: 40px
    }
    .first-page-description {
      font-size: 10px
    }
    .about-description-title {
      font-size: 18px
    }
    .about-description-text {
      font-size: 10px
    }
    .footer-infos-text {
      font-size: 10px
    }
    .footer-infos-title {
      font-size: 14px
    }
  }
  
  @media (max-width:600px) {
    .header-image {
      display: none
    }
    .header-image-mobile {
      background-image: url(../assets/header.svg);
      width: 100%;
      background-size: cover;
      height: 30px;
      display: inherit
    }
    .header {
      display: none
    }
    #open-menu {
      background-image: url(../assets/menu-burger.svg);
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block
    }
    .header-mobile {
      display: flex;
      height: 50px;
      margin-bottom: 2px
    }
    .header-flag-mobile {
      background-image: url(../assets/header-flag.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      height: 50px;
      width: 50%;
      align-items: center;
      justify-content: flex-start
    }
    .header-asii-mobile {
      display: inherit;
      margin-bottom: 3%;
      margin-left: 10%;
      margin-right: 15%
    }
    .header-pages {
      display: none
    }
    .menu-mobile {
      display: block;
      align-self: center;
      margin-left: auto;
      margin-right: 5%
    }
    .header-pages-mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background: #fff;
      -webkit-font-smoothing: antialiased;
      transform: translateX(100%);
      z-index: 10;
      transition: all .2s ease-in-out
    }
    .header-pages-mobile a {
      padding: 10px 0;
      font-family: Roboto;
      letter-spacing: 0;
      color: #707070;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none
    }
    #mobile-nav-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 40px;
      padding-left: 50px
    }
    #close-menu {
      width: 100%;
      height: 40px;
      display: block;
      text-align: right
    }
    #close-menu img {
      height: 100%;
      margin-right: 20px;
      margin-top: 20px
    }
    .header-pages-mobile .selected {
      color: #248451;
      font-family: Roboto;
      font-weight: 700
    }
    .first-page {
      height: auto
    }
    .first-page--content {
      height: fit-content;
      width: 90%;
      flex-direction: column;
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-start;
      align-self: unset;
      z-index: 0;
      padding: 0 16px
    }
    .first-page-description {
      width: 100%;
      font-size: 16px;
      margin-top: 5px
    }
    .about-content {
      flex-direction: column;
      width: 90%;
      margin: 0;
      padding: 0 16px
    }
    .about-description {
      width: 100%;
      margin-top: 5%;
      padding: 0;
      flex-direction: column;
      height: 50%
    }
    .about-description-title {
      margin-left: 15px
    }
    .about-description-text {
      margin-left: 10px;
      margin-right: 13px;
      margin-bottom: 10px;
      font-size: 16px
    }
    .about-description-img {
      width: 100%;
      max-height: 200px
    }
    .beneficiaries-page {
      height: fit-content
    }
    .beneficiaries-content {
      flex-direction: column;
      width: 90%
    }
    .footer {
      height: auto
    }
    .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: auto
    }
    .footer-infos {
      margin-top: 3%;
      margin-right: 0;
      width: 80%;
      margin-bottom: 5%
    }
    .footer-asii {
      margin: 25px auto 25px auto
    }
    .footer-infos-title {
      font-size: 20px
    }
    .footer-infos-text {
      font-size: 16px
    }
    .facebook {
      margin-bottom: 5%;
      align-self: center
    }
  }
  
  .program-page {
    background-color: #1a7539;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative
  }
  
  .program-content {
    position: relative;
    text-align: center;
    background: url(../assets/program.svg);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    background-position-x: center
  }
  
  .program-inner {
    margin: 80px auto auto auto
  }
  
  .program-inner p {
    color: #fff;
    max-width: 400px;
    width: auto;
    font-family: Roboto, sans-serif
  }
  
  .program-content img {
    width: 1550px;
    height: 500px;
    height: 200%;
    margin-left: -70px;
    margin-top: -16px;
    max-width: 100%
  }
  
  .program-title {
    font-size: 3em;
    font-family: Abril Fatface;
    color: #fff
  }
  
  .program-description {
    position: absolute;
    top: 38%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Roboto;
    color: #fff
  }
  
  .border {
    background-image: url(../assets/program-border.png);
    margin-top: -10px;
    height: 20px;
    margin-left: -20px
  }
  
  @media screen and (max-width:1500px) {
    .program-page {
      width: 100%;
      height: 50%
    }
  }
  
  @media screen and (max-width:950px) {
    .program-page {
      width: 100%;
      height: 50%
    }
    .opened .header-pages-mobile {
        transform: translateX(0px);
    }
    .program-title {
      font-size: 3em
    }
    .program-description {
      font-size: 8px
    }
    .program-content img {
      margin-left: -35%;
      width: 160%;
      max-width: 160%
    }
    .program-inner {
      padding: 10px;
      margin: auto
    }
    .program-content {
      height: 350px
    }
  }
  
  @media screen and (max-width:460px) {
    .program-title {
      font-size: 2.1em
    }
    .program-description {
      font-size: 1em
    }
  }
  
  